# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
agora-backend/scraper-service/.venv

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

agora-front/node_modules
agora-front/dist
agora-front/dist-ssr
agora-front/*.local

# deps
agora-backend/node_modules/

# env
.env
agora-backend/.env
agora-backend/.env.production

# logs
agora-backend/logs/
agora-backend/*.log
agora-backend/npm-debug.log*
agora-backend/yarn-debug.log*
agora-backend/yarn-error.log*
agora-backend/pnpm-debug.log*
agora-backend/lerna-debug.log*

# misc
agora-backend/.DS_Store
